.page__title {
  //font-family: 'Georgia', serif; /* Change to your preferred font */
  font-size: 1rem; /* Adjust size */
  font-weight: normal; /* Optional: Set font weight */
  text-align: center; /* Optional: Center the title */
  color: #6F777D; /* Optional: Change color */  
}